<div class="bbmri-container">
  <h2>Imprint</h2>
  <p class="textblock">
    <a routerLink="/privacy">To the Privacy Statement</a>
  </p>
  <h3>Provider</h3>
  <p class="textblock">
    Charité – Universitätsmedizin Berlin
  </p>
  <p class="textblock">
    Charitéplatz 1<br/>
    10117 Berlin
  </p>
  <p class="textblock">
    The Charité – Universitätsmedizin Berlin is a public institution.<br/>
    It is legally represented by the Chairman of the Executive Board.
  </p>

  <h3>Contact</h3>
  <p class="textblock">
    Geschäftsstelle German Biobank Node (GBN)
  </p>
  <p class="textblock">
    Charité – Universitätsmedizin Berlin<br/>
    Campus Virchow Klinikum<br/>
    Augustenburger Platz 1<br/>
    13353 Berlin
  </p>
  <p class="textblock">
    Phone: +49 30 450 - 536 347<br/>
    Email: germanbiobanknode&#64;charite.de
  </p>
  <h2>Disclaimer</h2>
  <h3>Liability for content</h3>
  <p class="textblock">
    The content of our pages has been created with the utmost care. However, we cannot assume any responsibility
    whatsoever for the correctness, completeness or topicality of the content.
    As the service provider, we are responsible according to Section 7 para. 1 of the German Telemedia Act
    (Telemediengesetz) for our own content on these webpages under the general laws.
    According to Sections 8 to 10 TMG, we are not required to monitor information transmitted or stored or to
    investigate circumstances indicating illegal activity. The obligation to remove
    or block the use of information under the general laws remains unaffected by this. However, any liability can only
    be assumed from the time that a specific infringement becomes known.
    When such infringements come to our attention, we will remove the content in question immediately.
  </p>
  <h3>Liability for links</h3>
  <p class="textblock">
    Our website contains links to external third-party websites over whose content we have no control. We therefore
    cannot assume any liability for this content. The respective provider or
    operator of the linked websites is always responsible for their own content. The linked sites were checked at the
    time of linking for possible legal infringements. Illegal content could
    not be discerned at the time of linking. Continuous monitoring of the content of the linked pages is unreasonable
    without concrete evidence of an infringement. When such infringements come
    to our attention, we will remove such links immediately.
  </p>

  <h3>Copyright</h3>
  <p class="textblock">
    The content and works created by the website operator provided on these pages are subject to German copyright law.
    Third-party contributions are identified as such. Reproduction, editing,
    dissemination and any kind of usage beyond the scope of copyright law require the written consent of the respective
    author or creator. Downloads and copies of these pages are only permitted
    for private, non-commercial uses.
  </p>
  <p class="textblock">
    The operators of these pages endeavour to always observe the copyrights of others or to use self-created or
    license-free works.
  </p>
</div>

<br/>
