@import "../../../_variables.scss";

h2 {
  font-weight: normal;
}

.divider {
  background-color: $background-light;
  width: 2px;
  margin: 0 1em;
}

.margin-action-buttons {
  margin: 1.5em 0;
}

.top-action-buttons {
  min-height: 3em;
}

@media (max-width: 991px) {
  .top-action-buttons {
    display: none;
  }
}
