@import "../../../_variables.scss";

h2 {
  font-weight: normal;
}

.divider {
  background-color: $background-light;
  width: 2px;
  margin: 0 1em;
}

.samply-button {
  display: inline-block;
  height: 40px;
  width: 150px;

  padding: 0.5em 2.7em 0.5em 1em;
  margin: 2em .6em;

  background: $background-dark;
  color: white;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;

  cursor: pointer;
}

.samply-button-acitve:hover {
  background: $background-gray;
}

.samply-button-inactive {
  background-color: $background-dark-semi;
}
