h3 {
  font-weight: normal;
}

.field-container {
  margin: .8em 0;
}

.field-name {
  padding: .3em 0 0 0;
}

.value-container-input {
  width: 100%;
}

:host ::ng-deep .value-container .ui-dropdown {
  // Hack, to reduce maximal width. However the actual width will be larger than 1em
  max-width: 1em;
}

.add-field-wrapper {
  margin: 0 .5em;
}

:host ::ng-deep .add-field,
:host ::ng-deep .add-field .ui-inputtext,
:host ::ng-deep .add-field .ui-dropdown-label {
  display: inline-block;
  height: 40px;
  min-width: 150px;
  width: 150px;
  background: #172B49;
  color: white;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;

  border: solid 0;
  border-radius: 0;
}

:host ::ng-deep .add-field .add-field-disabled:not {
  cursor: pointer;
}

:host ::ng-deep .add-field .ui-dropdown-trigger {
  background-color: #172B49;
  color: white;
}

:host ::ng-deep .add-field .ui-dropdown-label {
  padding: .5em 0;
}

:host ::ng-deep .add-field .ui-dropdown-label:hover {
  background: #8C9FAA;
}

:host ::ng-deep .add-field-panel {
  background-color: #AFB5C0;
}

:host ::ng-deep .add-field-panel .ui-dropdown-items .ui-dropdown-item {
  color: white;
}

.samply-button-small {
  height: 34px;
  width: 34px;

  margin: .2em;
  padding: 4px 0 0 0;
  font-size: smaller;

  background-color: #172B49;
  color: white;

  text-align: center;
  vertical-align: center;

  cursor: pointer;
}

.samply-button-small:hover {
  background: #8C9FAA;
}

.samply-button-small-disabled {
  opacity: .35;
}

