<form [formGroup]="formGroup" *ngIf="(mdrFieldProviderService.ready$ | async)">
  <h3 class="bold">{{headerName}}</h3>

  <div formArrayName="fields">
    <div *ngFor="let field of this.filteredFields; let i=index">
      <div [formGroupName]="i">
        <div *ngIf="getExtendedMdrField(field) as extendedField"
             class="field-container"
             fxLayout="row"
             fxLayoutAlign="space-between start">
          <div class="field-name">{{extendedField.name}} <span *ngIf="extendedField.unit">({{extendedField.unit}}
            )</span></div>


          <div formArrayName="values"
               fxFlex="0 0 20em">
            <div *ngFor="let value of field.valueDtos; let j=index">
              <div [formGroupName]="j"
                   fxLayout="column"
                   fxLayoutAlign="space-between center">

                <div fxLayout="row"
                     fxLayoutAlign="space-between center">
                  <div fxFlex="0 0 5em">
                    <p-dropdown [options]="operators" formControlName="operator"
                                (select)="chooseOperator($event, i, j)"
                                (onChange)="chooseOperator($event, i, j)"
                                [style]="{ 'minWidth': '4em', 'width':'4em'}">
                    </p-dropdown>
                  </div>

                  <div fxFlex="0 0 10em">
                    <!-- STRING -->
                    <div *ngIf="field['@'].valueType === 'STRING'"
                         fxFlex="0 0 8em">

                      <!--suppress HtmlFormInputWithoutLabel -->
                      <input formControlName="value"
                             (change)="changeValue(i, j)"
                             pInputText
                             placeholder="{{getPlaceholder(extendedField, value['@'].condition)}}"
                             type="text">
                    </div>

                    <!-- INTEGER -->
                    <div *ngIf="field['@'].valueType === 'INTEGER'"
                         fxFlex="0 0 8em">

                      <!--suppress HtmlFormInputWithoutLabel -->
                      <input formControlName="value"
                             (change)="changeValue(i, j)"
                             pInputText
                             placeholder="{{getPlaceholder(extendedField, value['@'].condition)}}"
                             type="number">
                    </div>

                    <!-- DECIMAL -->
                    <div *ngIf="field['@'].valueType === 'DECIMAL'"
                         fxFlex="0 0 8em">

                      <!--suppress HtmlFormInputWithoutLabel -->
                      <input formControlName="value"
                             (change)="changeValue(i, j)"
                             pInputText
                             placeholder="{{getPlaceholder(extendedField, value['@'].condition)}}"
                             type="number">
                    </div>

                    <!-- PERMITTEDVALUE -->
                    <div *ngIf="field['@'].valueType === 'PERMITTEDVALUE'"
                         fxFlex="0 0 8em">

                      <p-dropdown formControlName="value"
                                  [options]="extendedField.permittedValues"
                                  (select)="changeValue(i, j)"
                                  (onChange)="changeValue(i, j)"
                                  placeholder="{{getPlaceholder(extendedField, value['@'].condition)}}"
                                  [style]="{ 'minWidth': '172px', 'width': '172px'}">
                      </p-dropdown>
                    </div>

                    <!-- DATE -->
                    <div *ngIf="field['@'].valueType === 'DATE'"
                         fxFlex="0 0 8em">

                      <p-calendar formControlName="value"
                                  (onSelect)="changeValue(i, j)"
                                  (input)="changeValue(i, j)"
                                  placeholder="{{getPlaceholder(extendedField, value['@'].condition)}}"
                                  dateFormat="dd.mm.yy"></p-calendar>
                    </div>

                    <!-- DATETIME -->
                    <div *ngIf="field['@'].valueType === 'DATETIME'"
                         fxFlex="0 0 8em">

                      <p-calendar formControlName="value"
                                  (onSelect)="changeValue(i, j)"
                                  (input)="changeValue(i, j)"
                                  placeholder="{{getPlaceholder(extendedField, value['@'].condition)}}"
                                  dateFormat="dd.mm.yy"
                                  showTime="true"
                                  hourFormat="24"></p-calendar>
                    </div>

                  </div>

                  <div fxFlex="0 0 5em"
                       fxLayout="row"
                       fxLayoutAlign="start center">
                    <div class="samply-button-small" (click)="deleteValue(i, j)">
                      <fa-icon [icon]="faMinus" size="lg" class="fa-icon-times"></fa-icon>
                      <span></span>
                    </div>
                    <div class="samply-button-small" (click)="addValue(i)" *ngIf="j === 0">
                      <fa-icon [icon]="faPlus" size="lg" class="fa-icon-times"></fa-icon>
                      <span></span>
                    </div>
                  </div>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="space-between center">
                  <div fxFlex="0 0 5em"></div>

                  <div fxFlex="0 0 10em">

                    <!-- STRING -->
                    <div *ngIf="field['@'].valueType === 'STRING'"
                         fxFlex="0 0 8em">

                      <!--suppress HtmlFormInputWithoutLabel -->
                      <input formControlName="maxValue"
                             *ngIf="value['@'].condition === 'BETWEEN'"
                             (change)="changeMaxValue(i, j)"
                             pInputText
                             placeholder="Max."
                             type="text">
                    </div>

                    <!-- INTEGER -->
                    <div *ngIf="field['@'].valueType === 'INTEGER'"
                         fxFlex="0 0 8em">

                      <!--suppress HtmlFormInputWithoutLabel -->
                      <input formControlName="maxValue"
                             *ngIf="value['@'].condition === 'BETWEEN'"
                             (change)="changeMaxValue(i, j)"
                             pInputText
                             placeholder="Max."
                             type="number">
                    </div>

                    <!-- DECIMAL -->
                    <div *ngIf="field['@'].valueType === 'DECIMAL'"
                         fxFlex="0 0 8em">

                      <!--suppress HtmlFormInputWithoutLabel -->
                      <input formControlName="maxValue"
                             *ngIf="value['@'].condition === 'BETWEEN'"
                             (change)="changeMaxValue(i, j)"
                             pInputText
                             placeholder="Max."
                             type="number">
                    </div>

                    <!-- PERMITTEDVALUE -->
                    <div *ngIf="field['@'].valueType === 'PERMITTEDVALUE'"
                         fxFlex="0 0 8em">

                      <p-dropdown formControlName="maxValue"
                                  *ngIf="value['@'].condition === 'BETWEEN'"
                                  [options]="extendedField.permittedValues"
                                  (select)="changeMaxValue(i, j)"
                                  (onChange)="changeMaxValue(i, j)"
                                  placeholder="Max."
                                  [style]="{ 'minWidth': '172px', 'width': '172px'}">
                      </p-dropdown>
                    </div>

                    <!-- DATE -->
                    <div *ngIf="field['@'].valueType === 'DATE'"
                         fxFlex="0 0 8em">

                      <p-calendar formControlName="maxValue"
                                  *ngIf="value['@'].condition === 'BETWEEN'"
                                  (onSelect)="changeMaxValue(i, j)"
                                  (input)="changeMaxValue(i, j)"
                                  placeholder="Max."
                                  dateFormat="dd.mm.yy"></p-calendar>
                    </div>

                    <!-- DATETIME -->
                    <div *ngIf="field['@'].valueType === 'DATETIME'"
                         fxFlex="0 0 8em">

                      <p-calendar formControlName="maxValue"
                                  *ngIf="value['@'].condition === 'BETWEEN'"
                                  (onSelect)="changeMaxValue(i, j)"
                                  (input)="changeMaxValue(i, j)"
                                  placeholder="Max."
                                  dateFormat="dd.mm.yy"
                                  showTime="true"
                                  hourFormat="24"></p-calendar>
                    </div>

                  </div>

                  <div fxFlex="0 0 5em"></div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="row"
       fxLayoutAlign="end">
    <div class="add-field-wrapper">
      <!--suppress TypeScriptValidateTypes -->
      <p-dropdown [options]="addibleFields"
                  formControlName="addField"
                  (select)="chooseField($event)"
                  (onChange)="chooseField($event)"
                  placeholder="Add Field"
                  styleClass="add-field"
                  panelStyleClass="add-field-panel">
      </p-dropdown>
    </div>
  </div>

</form>
