<div class="cookie-banner-container bbmri-transition" *ngIf="showCookieBanner()">
  <div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="1 0 0"></div>

    <div class="bbmri-container cookie-banner" fxFlex="0 1 auto">
      Cookies help us to provide our services. By using this website, you consent that we use cookies. You can find
      further information in our <a *ngIf="featureService.brandingUI() === 'GBA'" routerLink="/privacy">privacy policy</a><a *ngIf="featureService.brandingUI() === 'BBMRI'" href="https://www.bbmri-eric.eu/privacy-notice/">privacy policy</a>.
      <a type="button"
         class="cookie-accept-button"
         (click)="setCookieAccepted()">OK</a>
    </div>

    <div fxFlex="1 0 0"></div>
  </div>
</div>
