.cookie-banner-container {
  padding: 15px;
  margin-bottom: 20px;

  background: #F0F3F4;
}

.cookie-banner {
  width: 100%;

  color: #304757;

  font-size: smaller;
  text-align: center;
  vertical-align: middle;
}

.cookie-accept-button {
  padding: 4.5px 15px;
  margin: 0 0 0 20px;

  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;

  color: #fff;
  background: #172B49;

  cursor: pointer;
}

