<div class="cookie-banner-container bbmri-transition" *ngIf="showCookieBanner()">
  <div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="1 0 0"></div>

    <div class="bbmri-container cookie-banner" fxFlex="0 1 auto">
      Cookies help us to provide our services. By using this website, you consent that we use cookies. You can find
      further information in our <span *ngIf="featureService.branding().privacyPolicyLink.startsWith('http'); else useRouterLinkPrivacy">
      <a href="{{featureService.branding().privacyPolicyLink}}">Privacy Policy</a>
    </span>
      <ng-template #useRouterLinkPrivacy>
        <span><a routerLink="{{featureService.branding().privacyPolicyLink}}">Privacy Policy</a></span>
      </ng-template>.
      <a type="button"
         class="cookie-accept-button"
         (click)="setCookieAccepted()">OK</a>
    </div>

    <div fxFlex="1 0 0"></div>
  </div>
</div>
