@import "../../../_variables.scss";

.result-extra-margin {
  margin: 106px 0 0 0;
}

@media (max-width: 991px) {
  .result-extra-margin {
    margin: 52px 0 0 0;
  }
}

.result-item {
  margin: 2em 0;
}

:host ::ng-deep .ui-progressbar-value {
  background-color: $background-gray !important;
}

h2 {
  font-weight: normal;
}

.divider {
  background-color: $background-light;
  width: 2px;
  margin: 0 1em;
}

.margin-action-buttons {
  margin: 1.5em 0;
}

.top-action-buttons {
  min-height: 3em;
}

@media (max-width: 991px) {
  .top-action-buttons {
    display: none !important;
  }
}

::ng-deep .ui-tooltip .ui-tooltip-arrow {
  border-bottom-color: $background-gray !important;
}

::ng-deep .ui-tooltip .ui-tooltip-text {
  background-color: $background-gray !important;
  color: white !important;
}
