@import "../../../_variables.scss";

.result-extra-margin {
  margin: 92px 0 0 0;
}

@media (max-width: 991px) {
  .result-extra-margin {
    margin: 124px 0 0 0;
  }
}

.result-table-row {
  margin: 0 0 1em 0;
  padding: .5em;

  border: solid 1px $background-dark;
  border-radius: 4px;
}

.result-item {
  margin: 2em 0;
}

.result-progressbar {
  min-height: 3em;
  margin: 2em 0;
}

.result-detail-button-wrapper {
  margin: 0 0 2em 0;
}

.result-detail-button {
  display: inline-block;
  height: 40px;

  padding: .5em 1em;

  background: $background-dark;
  color: white;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;

  cursor: pointer;
}

.result-detail-button:hover {
  background-color: $background-dark-semi;
}

:host ::ng-deep .ui-progressbar-value {
  background-color: $background-gray !important;
}

.align-right {
  text-align: right;
}

.detailed-result-flag-header {
  width: 3.4em;
}

.detailed-result-flag-column {
  text-align: center;
}

.negotiate-button {
  display: inline-block;
  height: 40px;
  min-width: 13em;

  padding: 0.5em 2.7em 0.5em 1em;
  margin: 2em .6em;

  text-align: center;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;

  background: $background-dark;
  color: white;

  text-transform: uppercase;

  cursor: pointer;
}

.negotiate-button:hover {
  background: $background-dark-semi;
}

.negotiate-button-inactive {
  background-color: $background-dark-semi;
}

.negotiate-button fa-icon {
  margin: 0 1em 0 0;
}

.disclaimer {
  font-size: 0.8em;
  margin: 1em 0;
  padding: 0 10px;
}

h2 {
  font-weight: normal;
}

.divider {
  background-color: $background-light;
  width: 2px;
  margin: 0 1em;
}

.margin-action-buttons {
  margin: 1.5em 0;
}

.samply-button {
  display: inline-block;
  height: 40px;
  width: 150px;

  padding: 0.5em 2.7em 0.5em 1em;
  margin: 0.25em .6em;

  background: $background-dark;
  color: white;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;
}

.samply-button-active {
  cursor: pointer;
}

.samply-button-active:hover {
  background: $background-gray;
}

.samply-button-inactive {
  background-color: $background-dark-semi;
}

::ng-deep .ui-tooltip .ui-tooltip-arrow {
  border-bottom-color: $background-gray !important;
}

::ng-deep .ui-tooltip .ui-tooltip-text {
  background-color: $background-gray !important;
  color: white !important;
}

::ng-deep .ui-tooltip {
  -webkit-transition: all 0s 0s;
  -moz-transition: all 0s 0s;
  -o-transition: all 0s 0s;
  -ms-transition: all 0s 0s;
  transition: all 0s 0s;
}
