@import "../../../_variables.scss";

.samply-button {
  display: inline-block;
  height: 40px;
  width: 150px;

  padding: .5em 2.7em .5em 1em;
  margin: .25em .2em .25em 1em;

  background: $background-dark;
  color: white;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;
}

.samply-button-active {
  cursor: pointer;
}

.samply-button-active:hover {
  background: $background-gray;
}

.samply-button-inactive {
  background-color: $background-dark-semi;
}
