<div class="bbmri-container">

  <h2>About Us</h2>
  <p class="textblock">
    The German Biobank Node is the umbrella organisation for biobanks in Germany. Under GBN’s leadership, 18 biobank
    sites and two IT development centres work
    together to make biosamples available for national and international biomedical research. GBN is funded by the
    Federal Ministry of Education and Research (BMBF)
    and represents the interests of German biobanks in the European infrastructure BBMRI-ERIC (Biobanking and
    Biomolecular Resources Research Infrastructure - European
    Research Infrastructure Consortium).
  </p>

  <div>
    <div fxLayout="row" fxLayoutAlign="flex-start center">
      <a href="https://www.bbmri.de/" title="GBA">
        <!--suppress HtmlUnknownTarget -->
        <img src="assets/img/GBN_CMYK_schwarz.svg" alt="GBA-LOGO" class="gba-logo"/>
      </a>
      <a href="http://www.bbmri-eric.eu/" title="BBMRI-ERIC">
        <!--suppress HtmlUnknownTarget -->
        <img src="assets/img/bbmri-height_93.png" alt="BBMRI-LOGO" class="bbmri-logo"/>
      </a>
      <a href="https://www.bmbf.de/" title="BMBF">
        <!--suppress HtmlUnknownTarget -->
        <img src="assets/img/BMBF.png" alt="GBA-LOGO"/>
      </a>
    </div>
  </div>

  <h3>Step 1: Find relevant biosamples with the Sample Locator</h3>
  <p class="textblock">
    The Sample Locator enables scientists to search for specific research-relevant biosamples and related data across
    multiple academic biobanks,
    mostly based in Germany. The online search-tool was developed by an interdisciplinary team of developers from the
    German Biobank Alliance (GBA)
    located at several sites within Germany, based on previous work within the German Cancer Research Center (DKFZ)
    and the BBMRI-ERIC Common Service IT.
  </p>
  <p class="textblock">
    The first stage of finding biosamples and data consists of a feasibility search. The search result shows how many
    desired samples in total are available in the
    biobanks connected to the Sample Locator. After logging in via the authentication service BBMRI-ERIC AAI, users
    will then see in which locations how many samples
    are available. In order to comply with data protection requirements, the search results (numbers of potentially
    available samples and numbers of donors) are
    slightly obfuscated (i.e. plus or minus one to ten, the scale being randomly generated for each search request).
  </p>
  <p class="textblock">
    To register with BBMRI-ERIC AAI, you can use your institutional email and account-password in case you are based
    with an institution listed in the Deutsches
    Forschungsnetz (DFN). If this does not apply, you will need to register using the LifeScience Hostel (green
    button). In both cases your registration-application
    will be verified by GBN within a working day.
  </p>
  <p class="textblock">
    If you have any questions about the Sample Locator or would like to give feedback, please contact
    feedb<!--spam@protect-->ack&#64;germa<!--spam@protect-->nbiobanknod<!--spam@protect-->e.de.
  </p>

  <h3>Step 2: Request biospecimens using the Negotiator</h3>
  <p class="textblock">
    To request samples, users are automatically referred from the Sample Locator to the Negotiator, a platform for
    structured communication between inquirers and
    biobanks originally developed at the German Cancer Research Center (DKFZ) and the BBMRI-ERIC Common Service IT. If
    you have questions regarding the Negotiator,
    please contact negoti<!--spam@protect-->ator&#64;helpde<!--spam@protect-->sk.bbmri-eric.eu.
  </p>

  <h3>Further information</h3>
  <p class="textblock">
    <a href="https://www.bbmri.de">GBN website</a>
  </p>
  <p class="textblock">
    <a href="http://www.bbmri-eric.eu/">BBMRI-ERIC website</a>
  </p>
  <p class="textblock">
    <a href="https://www.bbmri.de/service/directory/directory-anleitung/?L=1">How to register to BBMRI-ERIC
      services</a>
  </p>
</div>

<div class="query-button-margin" fxLayout="row" fxLayoutAlign="center center">
  <div class="samply-button" (click)="close()">
    <fa-icon [icon]="faTimes" size="lg" class="fa-icon-times"></fa-icon><span>Close</span>
  </div>
</div>

<br/>
