@import "../../../_variables.scss";

.footer {
  padding: 6.5em 0 0 0;
  color: $color-dark;
  line-height: 22px;
  font-size: smaller;
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
}

.footer-logos {
  width: 100%;
  margin-top: 20px !important;
}
.footer span, .footer div {
  margin: 0 .25em;
}

.footer a {
  color: $color-dark;
}

.version-text {
  color: $color-version;
}

.bmbf-logo {
  height: 120px;
  width: 185px;
}
.gba-logo {
  width: 180px;
  margin-right: 30px;
}
.dkfz-logo {
  height: 100px;
  width:220px;
}
.eu_flag {
  width: 100px;
  height: 65px;
  margin-left: 40px;
}
.funding-box {
  padding-left: 10px;
  padding-top: 5px;
  font-size: 13px;
}
.funding-box ul {
  margin-top: 5px;
}
@media screen and (max-width: 1199px) {
  .bmbf-logo {
    height: 100px;
    width:220px;
  }
}
