@import "../../../_variables.scss";

.footer {
  color: $color-dark;
  line-height: 22px;
  font-size: smaller;
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
}

.footer span, .footer div {
  margin: 0 .25em;
}

.footer a {
  color: $color-dark;
}

.version-text {
  color: $color-version;
}
