<div fxLayout="row" fxLayoutAlign="start start" class="bbmri-container footer">
  <span><a routerLink="/imprint">Imprint</a></span>
  <span>|</span>
  <span><a routerLink="/privacy">Privacy Policy</a></span>
  <span class="version-text">|</span>
  <div class="version-text">{{versionService.getUiVersion()}} (UI)</div>
  <span class="version-text">|</span>
  <div class="version-text">{{versionService.getBackendVersion()}} (Backend)</div>
  <div fxFlex="1 0 0"></div>
  <a href="https://www.bmbf.de/" title="BMBF" target="_blank">
    <!--suppress HtmlUnknownTarget -->
    <img src="assets/img/BMBF_CMYK_Gef_L_e.svg#svgView(viewBox(295, 350, 1, 130))" alt="BMBF-LOGO" class="bmbf-logo"/>
  </a>
</div>
