@import "../../../_variables.scss";

.footer {
  padding: 1.5em 0 0 0;
  color: $color-dark;
  line-height: 22px;
  font-size: smaller;
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
}

.footer span, .footer div {
  margin: 0 .25em;
}

.footer a {
  color: $color-dark;
}

.version-text {
  color: $color-version;
}

.bmbf-logo, .dkfz-logo {
  height: 139px;
  width:220px;
}

.funding-box {
  padding-top: 30px;
  padding-left: 15px;
}
.funding-box ul {
  margin-top: 5px;
}
@media screen and (max-width: 1199px) {
  .bmbf-logo {
    height: 100px;
    width:220px;
  }
}
