<div class="bbmri-container">

  <h2>Privacy policy</h2>
  <p class="textblock">
    We operate the website <a href="https://samplelocator.bbmri.de/">samplelocator.bbmri.de</a> and collect certain data
    from our website visitors
    insofar as this is necessary. In the following privacy policy, we explain what we do with your personal data and why
    we do this. We also inform
    on how we protect your data, when your data will be deleted and what your data protection rights are. Firstly
    though: we comply with the data
    protection laws and do all in our power to protect your privacy.
  </p>
  <p class="textblock">
    We wish to be entirely open though: the internet lives from the exchange of data and still has many security
    loopholes. Even if your data is encrypted
    when you visit our website, there is always a risk – at the latest during the exchange with third-party websites. If
    you visit other websites
    (e.g. via a link on our website), please note that this privacy policy does not apply for these third-party
    websites.
  </p>

  <h3>Who can I contact?</h3>
  <p class="textblock">
    The provider of this website is:
  </p>
  <p class="textblock">
    Charité – Universitätsmedizin Berlin<br/>
    German Biobank Node (GBN)<br/>
    Charitéplatz 1<br/>
    10117 Berlin
  </p>
  <p class="textblock">
    You can contact the GBN office at:
  </p>
  <p class="textblock">
    Charité – Universitätsmedizin Berlin<br/>
    Campus Virchow Klinikum (CVK)<br/>
    German Biobank Node (GBN)<br/>
    Augustenburger Platz 1<br/>
    13353 Berlin
  </p>
  <p class="textblock">
    Email: germanbiob<!--spam@protect--> anknode&#64;char<!--spam@protect--> ite.<!--spam@protect--> de<br/>
    Phone: +49. 30. 450 536 347
  </p>
  <p class="textblock">
    The Charité – Universitätsmedizin Berlin is a public institution. It is legally represented by the Chairman of the
    Executive Board.
  </p>
  <p class="textblock">
    To reach the Charité’s internal data protection officer, email: dat<!--spam@protect--> enschutz&#64;ch
    <!--spam@protect--> arit<!--spam@protect--> e.de.<br/>
    In the event of specific questions about your data, its deletion or your rights, do not hesitate to contact us
    directly: germanbiob<!--spam@protect--> anknode&#64;char<!--spam@protect--> ite.<!--spam@protect--> de.<br/>
    Should you wish to make a written request, simply mention “data protection”.
  </p>

  <h3>What are my rights?</h3>
  <p class="textblock">
    You can contact us at any time should you have any questions about your data protection rights or wish to assert one
    of the following rights:<br/>
    - Right of withdrawal pursuant to Art. 7 para. 3 GDPR<br/>
    - Right of access pursuant to Art. 15 GDPR<br/>
    - Right to rectification pursuant to Art. 16 GDPR<br/>
    - Right to erasure pursuant to Art. 17 GDPR<br/>
    - Right to restriction of processing pursuant to Art. 18 GDPR<br/>
    - Right to data portability pursuant to Art. 20 GDPR<br/>
    - Right to object pursuant to Art. 21 GDPR<br/>
    - Right to lodge a complaint with a supervisory authority pursuant to Art. 77 para. 1 GDPR<br/>
  </p>
  <p class="textblock">
    You can also contact the data protection supervisory authority directly:<br/>
    Competent supervisory authority:<br/>
    Berliner Beauftragte für Datenschutz und Informationsfreiheit<br/>
    Friedrichstraße 219<br/>
    10969 Berlin<br/>
    Email: mai<!--spam@protect--> lbox&#64;dat<!--spam@protect--> enschutz-berlin.<!--spam@protect--> de<br/>
    Phone: +49 30 13889-0<br/>
    Fax: +49 30 2155050<br/>
  </p>

  <h3>Deletion of data and storage period</h3>
  <p class="textblock">
    Unless stated otherwise, we will delete your data as soon as it is no longer needed. Your data will also be blocked
    or deleted if a storage period prescribed
    by law expires, unless there is a need for further storage of the data for the conclusion or fulfilment of a
    contract. Certain data may need to be kept longer
    for legal reasons. You can of course request information about the stored data on your person at any time.
  </p>

  <h3>Legal basis for data processing</h3>
  <p class="textblock">
    We only collect and process your personal data when there is a legal basis for this. In addition to your express
    consent, other legal bases may apply. If
    processing is based on your consent, Art. 6 para. 1(a) GDPR shall serve as the legal basis.
  </p>
  <p class="textblock">
    If the processing of personal data is necessary for the performance of a contract, Art. 6 para. 1(b) GDPR shall
    serve as the legal basis.
  </p>
  <p class="textblock">
    If the processing of personal data is necessary for compliance with a legal obligation to which our company is
    subject, Art. 6 para. 1(c) GDPR shall serve
    as the legal basis.
  </p>
  <p class="textblock">
    If processing is necessary to safeguard a legitimate interest of the German Biobank Node or a third party and if
    such interests are not overridden by the
    interests, fundamental rights and freedoms of the data subject, Art. 6 para. 1(f) GDPR shall serve as the legal
    basis. If processing is based on such a balancing
    of interests, you have the right to object to the processing of your personal data provided that you have special
    reasons for doing so and we cannot prove any
    compelling reasons worthy of protection for the processing.
  </p>
  <p class="textblock">
    You will find the relevant legal basis for individual data processing at the end of the respective description of
    data processing.
  </p>
  <p class="textblock">
    If we commission service providers for individual service functions or would like to use your data for advertising
    purposes, we will inform you in detail below of
    the respective processes. If we cooperate with service providers, we select these extremely carefully, taking
    particular note of their compliance with the legal
    requirements for data protection and data security. We have moreover concluded order processing contracts with them,
    which comply with the requirements of Art.
    28 GDPR. If service providers are based outside of the EU, we ensure that the appropriate safeguards exist pursuant
    to Art. 46 GDPR and that an adequate level of
    data protection is provided by the processor. Certification according to the EU-US Privacy Shield or so-called EU
    standard data protection clauses is considered
    adequate, for example. We refer to the appropriate safeguards in the respective places.
  </p>

  <h3>Your visit to our website</h3>
  <p class="textblock">
    If you merely wish to browse our website, we do not collect any personal data – with the exception of the data that
    your browser transmits to enable you to visit the website. This includes:<br/>
    - IP address (e.g. 95.91.215.example or 2a02:8109:9440:1198:bdb1:551f:example)<br/>
    - approximate location based on IP range (e.g. Berlin and surrounding area)<br/>
    - internet provider (e.g. Vodafone)<br/>
    - internet speed (e.g. 120 Mbit)<br/>
    - date and time (e.g. 11:45 on 25/05/2019)<br/>
    - last website visited (e.g. google.com)<br/>
    - browser (e.g. Firefox or Safari)<br/>
    - operating system (e.g. Mac OS)<br/>
    - hardware (e.g. main processor)
  </p>
  <p class="textblock">
    The IP address is most important for you as a visitor to our website, as this data can theoretically be traced back
    to you as an individual. To protect your privacy, your IP address will be deleted
    or anonymized following your visit to our website. The other technical data can then no longer be traced back to you
    and only serves anonymous, statistical purposes to optimise our website. Your data
    is stored temporarily at the start to safeguard your connection as well as to ensure access and the correct display
    of our website. The IP address and aforementioned technical data are required to
    display the website, prevent display problems for visitors and rectify any errors. The legal basis is the so-called
    legitimate interest, which has been reviewed within the framework of the
    aforementioned precautionary measures and in accordance with the European data protection requirements pursuant to
    Art. 6 para. 1(f) GDPR.
  </p>

  <h3>Cookies and browser data</h3>
  <p class="textblock">
    When you visit our website, your session is stored via a cookie. Cookies are small text files that are stored by a
    browser on the user's computer. They contain information about the current or last visit
    to the website. We use temporary session cookies, which are automatically deleted after closing the browser. If you
    merely wish to browse our website, we do not collect any personal data – with the exception
    of the data that your browser transmits to enable you to visit the website (e. g. IP address, internet provider,
    last website visited, browser, operating system).
  </p>
  <p class="textblock">
    You can configure, block and delete cookies in your browser settings. You can delete the cookies in the security
    settings of your browser at any time. Be aware, though, that if you delete all cookies for our
    website, some of the functions of the website might not display correctly.
  </p>

  <h3>Data collection</h3>
  <p class="textblock">
    The Sample Locator’s first stage, the "feasibility search", is publicly available. The search result shows how many
    of the desired samples in total are available in the biobanks connected to the Sample Locator.
    All requests are stored on our server with date stamps (but no personal data) for 12 month. The requests are
    evaluated anonymously for statistical purposes. The knowledge gained this way helps us to improve our
    services. The legal basis for this is the so-called legitimate interest, which has been reviewed to pursue the
    intended purpose and within the framework of the aforementioned precautionary measures as well as in
    accordance with the European data protection requirements pursuant to Art. 6 para. 1(f) GDPR. An order processing
    contract has moreover been concluded, which complies with the requirements of Art. 28 GDPR.
  </p>
  <p class="textblock">
    After logging in via the authentication service BBMRI-ERIC AAI, users will then see in which locations how many
    samples are available. For the login, i.e. the purpose of initiating a contract on the basis
    of Art. 6 Para. 1 lit. b) GDPR, BBMRI-ERIC then also collects required personal data.
  </p>
  <p class="textblock">
    Please see the <a href="http://www.bbmri-eric.eu/privacy-notice/">BBMRI-ERIC Privacy Notice</a> for more details.
  </p>

  <h3>Google Fonts</h3>
  <p class="textblock">
    For visual improvement of the typeface, we use Google Fonts (https://fonts.google.com) from Google Inc., 1600
    Amphitheatre Parkway, Mountain View, CA 94043, USA (“Google”), a font collection offered by Google. When
    you access this website or other websites, these fonts are transferred to your browser’s storage folder and
    activated. Website text will only be displayed in a standard font if this is not supported. To enable this,
    a request is sent to domains such as fonts.googleapis.com or fonts.gstatic.com. For technical reasons, this request
    contains your IP address. Your data will not be combined with other data or traced back to you
    personally, however.
  </p>
  <p class="textblock">
    As a precautionary measure, we have assured ourselves that when you access the Google font collection, the data will
    not be combined with other Google services, e.g. if you have a Google account. This is confirmed in
    the Google Fonts privacy information (https://developers.google.com/fonts/faq). The high security standards of the
    Google platform and the associated Google privacy policy also apply (www.google.com/intl/de-DE/privacy).
    Given that Google is based in the USA and thus in a so-called third country, further safeguards are required to
    ensure an adequate level of data protection meeting the European standards. Google has been certified
    under the so-called EU-US Privacy Shield and therefore demonstrates an adequate level of data protection
    (www.google.de/policies/privacy/frameworks).
  </p>
  <p class="textblock">
    The purpose of data transmission is the correct display of fonts in our chosen format. The IP address is required to
    establish a connection to Google’s servers in order to download the font collection if this is not
    already stored on the device. The legal basis for this is the so-called legitimate interest, which has been reviewed
    to pursue the intended purpose and within the framework of the aforementioned precautionary measures
    as well as in accordance with the European data protection requirements pursuant to Art. 6 para. 1(f) GDPR.
  </p>

  <h3>Establishment, exercise and defence of legal claims</h3>
  <p class="textblock">
    It may sometimes be necessary for us to process personal data – in conformance with local laws and regulations – in
    order to exercise or defend legal claims. Art. 9 para. 2(f) GDPR permits this when processing is
    "necessary for the establishment, exercise or defence of legal claims or whenever courts are acting in their
    judicial capacity".
  </p>
  <p class="textblock">
    This may occur, for example, if we must seek legal advice for legal proceedings or are legally required to retain or
    disclose certain information during legal proceedings.
  </p>

  <h3>Personal data of children</h3>
  <p class="textblock">
    We are aware of the importance of safeguarding children’s safety and protecting their data on the internet. For this
    reason – and in order to comply with certain laws – we neither intentionally collect personal,
    individually identifiable information from children under the age of 16, nor do we provide content for children
    under the age of 16.
  </p>
  <p class="textblock">
    Privacy policy last updated in: January 2020
  </p>
</div>


<div class="query-button-margin" fxLayout="row" fxLayoutAlign="center center">
  <div class="samply-button" (click)="close()">
    <fa-icon [icon]="faTimes" size="lg" class="fa-icon-times"></fa-icon>
    <span>Close</span>
  </div>
</div>

<br/>
