@import "../../../_variables.scss";

.work-in-progress-info {
  width: 100%;

  background: $background-light;

  text-align: center;
}

h4, h4 a {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: $color-gray;
  padding: 20px 0;
  letter-spacing: 1px;
  margin: 0;
}
