.work-in-progress-info {
  width: 100%;

  background: #F0F3F4;

  text-align: center;
}

h4, h4 a {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #8C9FAA;
  padding: 20px 0;
  letter-spacing: 1px;
  margin: 0;
}
