@import "../../../_variables.scss";

.work-in-progress-info {
  width: 100%;

  background: $background-light;

  text-align: center;
}

h1, h1, a {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: $color-gray;
  padding: 40px 0;
  letter-spacing: 1px;
  margin: 0;
}

.news {
  background-color:#fff8c4;
  border:1px solid #f2c779;
}