$background-light: #F0F3F4;
$background-gray-light: #AFB5C0;
$background-gray: #8C9FAA;
$background-dark: #172B49;
$background-dark-semi: #8C96A5; // opacity =  50%

$color-version: #C5CFD5;
$color-gray: #8C9FAA;
$color-medium: #6F8795;
$color-dark: #304757;

$link-indicator: #F1A948;
