@media all and (-ms-high-contrast:none) {
  .IE-HACK-header-links {
    height: 160px;
    padding-top: 3em;
  }
}

@media (max-width: 1199px) and (-ms-high-contrast:none) {
  .IE-HACK-header-links {
    height: 100px;
    padding-top: 3em;
  }
}

@media (-ms-high-contrast:none) {
  .IE-HACK-search-builder .show-and {
    width: 1.8em;
  }

  .IE-HACK-search-builder .show-or {
    width: 1.3em;
  }
}
