/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Titillium Web', sans-serif; }

.samply-container {
  position: relative;
  margin: auto;
  padding: 0;
  clear: both
}

.samply-container-fluid {
  margin: auto;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem
}

h1 {
  font-size: 60px;
  line-height: 68px;
  color: #304757;
  margin-top: 40px;
  margin-bottom: 30px
}

h2 {
  font-size: 32px;
  line-height: 40px;
  color: #304757;
  margin-top: 30px;
  margin-bottom: 30px
}

h3 {
  font-size: 24px;
  line-height: 36px;
  color: #304757;
  margin-top: 40px;
  margin-bottom: 10px
}

h4 {
  font-size: 18px;
  line-height: 24px;
  color: #8C9FAA;
  margin-bottom: 5px;
  margin-top: 20px;
  letter-spacing: 1px
}

h5 {
  font-size: 16px;
  line-height: 24px;
  color: #6F8795;
  margin-bottom: 5px;
  margin-top: 20px
}

@media (min-width: 576px) {
  .samply-container {
    padding: 0;
  }
}

@media (min-width: 700px) {
  h1, h2, h3, h4, h5, h6 {
    word-break: break-all;
  }
}

@media (min-width: 768px) {
  .samply-container {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .samply-container {
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .samply-container {
    padding: 0;
  }
}

@media (max-width: 1199px) {
  h2 {
    font-size: 26px;
    line-height: 32px;
    margin-top: 30px;
    margin-bottom: 20px
  }
}

@media (min-width: 1440px) {
  .samply-container {
    padding: 0;
  }
}

@media (min-width: 576px) {
  .samply-container {
    width: 540px;
    max-width: 100%
  }
}

@media (min-width: 768px) {
  .samply-container {
    width: 720px;
    max-width: 100%
  }
}

@media (min-width: 992px) {
  .samply-container {
    width: 960px;
    max-width: 100%
  }
}

@media (min-width: 1200px) {
  .samply-container {
    width: 1140px;
    max-width: 100%
  }
}

@media (min-width: 1280px) {
  .samply-container {
    width: 1200px;
    max-width: 100%
  }
}

@media (min-width: 1440px) {
  .samply-container {
    width: 1272px;
    max-width: 100%
  }
}

@media (min-width: 576px) {
  .samply-container-fluid {
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  .samply-container-fluid {
    padding: 0 15px;
  }
}

@media (min-width: 992px) {
  .samply-container-fluid {
    padding: 0 15px;
  }
}

@media (min-width: 1200px) {
  .samply-container-fluid {
    padding: 0 15px;
  }
}

